<footer class="row-fluid clearfix">
  <section class="container footer-container">
    Copyright © {{vm.currentDate | date:'yyyy'}} <strong><a href="https://github.com/dandaniel/angular-boilerplate-study" target="_blank">Angular boilerplate study</a></strong>

    <iframe src="http://ghbtns.com/github-btn.html?user=dandaniel&repo=angular-boilerplate-study&type=fork"
    allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20" class="github-button"></iframe>
  </section>
</footer>