<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <section class="container-fluid">
    <p class="navbar-text">
      <strong>Angular boilerplate study</strong>
    </p>

    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a href ui-sref="home">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="providerPageIndex">
          Providers
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="customerPageIndex">
          Customers
        </a>
      </li>
    </ul>
  </section>
</nav>