<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <section class="container-fluid">
    <p class="navbar-text">
      <strong>Demo application&#0153;</strong>
    </p>

    <ul class="nav navbar-nav">
      <li ui-sref-active="active">
        <a href ui-sref="home">
          Home
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="providerPageIndex">
          Providers
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="customerPageIndex">
          Customers
        </a>
      </li>

      <li ui-sref-active="active">
        <a href ui-sref="about">
          About
        </a>
      </li>
    </ul>

    <p class="navbar-text pull-right">
      Copyright © {{vm.currentDate | date:'yyyy'}} <strong><a href="https://github.com/dandaniel/angular-boilerplate-study" target="_blank">Angular boilerplate study</a></strong>
    </p>
  </section>
</nav>