<section class="row-fluid clearfix">
  <section class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <section class="panel panel-default intro">
      <section class="panel-heading">
        <h3 class="panel-title">Here is a list of available customers</h3>
      </section>
      <section class="panel-body">
        <section class="form-group">
          <input type="text" class="form-control" placeholder="Filter customers by name..." data-ng-model="search.$" ng-model-options="{debounce: 400}">
        </section>

        <table class="table table-hover">
          <thead data-ng-if="!vm.customers.statusText && results.length !== 0">
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Customer Link</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="customer in vm.customers | filter:search as results track by $index">
              <td data-ng-bind="$index+1"></td>
              <td data-ng-bind="customer.surname"></td>
              <td data-ng-bind="customer.name"></td>
              <td><a href="#!/customer/{{customer.id}}">See customer</a></td>
            </tr>
          </tbody>
        </table>

        <p data-ng-if="results.length === 0">Sorry, no customers match your search</p>

        <section class="no-customers" data-ng-if="vm.customers.statusText">
          <h4>Sorry, there was an error getting the customers: <i data-ng-bind="::vm.customers.statusText"></i></h4>
        </section>
      </section>

      <div class="panel-footer">
        Looking good? You can <a ui-sref="providerIndex">see a list of all providers</a> too!
      </div>
    </section>
  </section>
</section>