<h1>AngularJS boilerplate study home</h1>
<hr/>
<h2>Here is a list of available providers:</h2>

<section class="providers" data-ng-if="!vm.providers.statusText">
  <section class="provider-container" data-ng-repeat="provider in vm.providers">
    <a href="#!/provider/{{provider.id}}">{{provider.name}}</a>
  </section>

  <section class="provider-container">
    <a href="#!/provider/wrong-id">A provider with the wrong id</a>
  </section>
</section>

<section class="no-providers" data-ng-if="vm.providers.statusText">
  <h4>Sorry, there was an error getting the providers: <i>{{vm.providers.statusText}}</i></h4>
</section>

<hr/>
<h2>Here is a list of available customers:</h2>
<section class="customers">
  <section class="customer-container" data-ng-repeat="customer in vm.customers">
    <a href="#!/customer/{{customer.id}}">{{customer.surname}} {{customer.name}}</a>
  </section>

  <section class="customer-container">
    <a href="#!/customer/wrong-id">A customer with the wrong id</a>
  </section>
</section>

<section class="no-customers" data-ng-if="vm.customers.statusText">
  <h4>Sorry, there was an error getting the customers: <i>{{vm.customers.statusText}}</i></h4>
</section>